[Unit]
Description=Blink monitoring system
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/yannick/kikela/service.py
WorkingDirectory=/home/yannick/kikela
User=yannick
Restart=always

[Install]
WantedBy=multi-user.target
